bin/
env/
include/
lib/
.Python
build
dist
sdist
*.egg
*.egg-info
*.pyc
venv/
.idea
.env
.python-version
.tox/
profile*
README.txt
.coverage
coverage.xml
htmlcov
temp*.py
.vscode
sendgrid/VERSION.txt
