"""
  This code was generated by
 
  SENDGRID-OAI-GENERATOR
 
  Twilio SendGrid Marketing Campaigns Statistics API
  The Marketing Campaigns Stats API allows you to retrieve statistics for both Automations and Single Sends. The statistics provided include bounces, clicks, opens, and more. You can export stats in CSV format for use in other applications. You can also retrieve Marketing Campaigns stats in the [Marketing Campaigns application user interface](https://mc.sendgrid.com/).  This API provides statistics for Marketing Campaigns only. For stats related to event tracking, please see the [Stats API](https://docs.sendgrid.com/api-reference/stats).
 
  NOTE: This class is auto generated by OpenAPI Generator.
  https://openapi-generator.tech
  Do not edit the class manually.
"""

import json
import warnings
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated
from sendgrid.base import values
from sendgrid.exceptions import ApiException
from sendgrid.http.request import Request
from sendgrid.http.response import ApiResponse

from pydantic import Field, StrictStr
from typing import List, Optional
from typing_extensions import Annotated
from sendgrid.rest.api.mc_stats.v3.models.ab_phase_id import AbPhaseId
from sendgrid.rest.api.mc_stats.v3.models.items2 import Items2
from sendgrid.rest.api.mc_stats.v3.models.singlesends_link_stats_response import SinglesendsLinkStatsResponse

class ListSingleSendTrackingStat:
    def __init__(self, client) -> None:
        self.client = client
    
    def send(
        self,
            id: str,
    page_size: Optional[int] = None,
    page_token: Optional[str] = None,
    group_by: Optional[List[Items2]] = None,
    ab_variation_id: Optional[str] = None,
    ab_phase_id: Optional[AbPhaseId] = None,

    ):
        path='/v3/marketing/stats/singlesends/{id}/links'
        path = path.format(
        id=id,
        )

        data = None
        request = Request(
            method='GET',
            url=path,
            data=data,
            headers=headers
        )
        response=self.client.send(request)
        if response is None:
            raise ApiException(error="CreateAlert creation failed: Unable to connect to server")

        if response.text:
            text = json.loads(response.text)
        else:
            text = ""
        if response.is_success():
            return ApiResponse(status_code=response.status_code, model=text, headers=response.headers)
        else:
            raise ApiException(status_code=response.status_code, error=text, headers=response.headers)
