"""
  This code was generated by
 
  SENDGRID-OAI-GENERATOR
 
  Twilio SendGrid Link Branding API
  The Twilio SendGrid Link Branding API allows you to configure your domain settings so that all of the click-tracked links, opens, and images in your emails are served from your domain rather than `sendgrid.net`. Spam filters and recipient servers look at the links within emails to determine whether the email appear trustworthy. They use the reputation of the root domain to determine whether the links can be trusted.  You can also manage Link Branding in the **Sender Authentication** section of the Twilio SendGrid application user interface.   See [**How to Set Up Link Branding**](https: //sendgrid.com/docs/ui/account-and-settings/how-to-set-up-link-branding/) for more information.
 
  NOTE: This class is auto generated by OpenAPI Generator.
  https://openapi-generator.tech
  Do not edit the class manually.
"""

import json
from typing import Optional
from sendgrid.base import values
from sendgrid.exceptions import ApiException
from sendgrid.http.request import Request
from sendgrid.http.response import ApiResponse

from typing import Optional
from sendgrid.rest.api.link_branding.v3.models.update_branded_link_request import (
    UpdateBrandedLinkRequest,
)


class UpdateBrandedLink:
    def __init__(self, client) -> None:
        self.client = client

    def send(
        self,
        id: int,
        on_behalf_of: Optional[str] = None,
        update_branded_link_request: Optional[UpdateBrandedLinkRequest] = None,
    ):
        path = "/v3/whitelabel/links/{id}"
        path = path.format(
            id=id,
        )

        headers = values.of(
            {
                "on-behalf-of": on_behalf_of,
            }
        )
        headers["Content-Type"] = "application/json"
        data = None
        if update_branded_link_request:
            data = update_branded_link_request.to_dict()
        request = Request(method="PATCH", url=path, data=data, headers=headers)
        response = self.client.send(request)
        if response is None:
            raise ApiException(
                error="CreateAlert creation failed: Unable to connect to server"
            )

        if response.text:
            text = json.loads(response.text)
        else:
            text = ""
        if response.is_success():
            return ApiResponse(
                status_code=response.status_code, model=text, headers=response.headers
            )
        else:
            raise ApiException(
                status_code=response.status_code, error=text, headers=response.headers
            )
