"""
  This code was generated by
 
  SENDGRID-OAI-GENERATOR
 
  Twilio SendGrid Recipients' Data Erasure API
  The Recipients' Data Erasure API allows Twilio SendGrid customers to delete their own customers' personal data from the Twilio SendGrid Platform. The use of this API facilitates the self-service removal of email personal data from the Twilio SendGrid platform and will enable customers to comply with various obligatory data privacy regulations.
 
  NOTE: This class is auto generated by OpenAPI Generator.
  https://openapi-generator.tech
  Do not edit the class manually.
"""

import json
from typing import Optional
from sendgrid.base import values
from sendgrid.exceptions import ApiException
from sendgrid.http.request import Request
from sendgrid.http.response import ApiResponse

from typing import Optional
from sendgrid.rest.api.recipients_data_erasure.v3.models.recipients_data_erasure_erase_recipients_request import (
    RecipientsDataErasureEraseRecipientsRequest,
)


class EraseRecipientEmailData:
    def __init__(self, client) -> None:
        self.client = client

    def send(
        self,
        on_behalf_of: Optional[str] = None,
        recipients_data_erasure_erase_recipients_request: Optional[
            RecipientsDataErasureEraseRecipientsRequest
        ] = None,
    ):
        path = "/v3/recipients/erasejob"

        headers = values.of(
            {
                "on-behalf-of": on_behalf_of,
            }
        )
        headers["Content-Type"] = "application/json"
        data = None
        if recipients_data_erasure_erase_recipients_request:
            data = recipients_data_erasure_erase_recipients_request.to_dict()
        request = Request(method="POST", url=path, data=data, headers=headers)
        response = self.client.send(request)
        if response is None:
            raise ApiException(
                error="CreateAlert creation failed: Unable to connect to server"
            )

        if response.text:
            text = json.loads(response.text)
        else:
            text = ""
        if response.is_success():
            return ApiResponse(
                status_code=response.status_code, model=text, headers=response.headers
            )
        else:
            raise ApiException(
                status_code=response.status_code, error=text, headers=response.headers
            )
