"""
  This code was generated by
 
  SENDGRID-OAI-GENERATOR
 
  Twilio SendGrid Marketing Campaigns Contacts API
  The Twilio SendGrid Marketing Campaigns Contacts API allows you to manage all of your marketing contacts programmatically. You can also import and export contacts using this API. The Contacts API allows you to associate contacts with lists and segments; however, to manage the lists and segments themselves, see the [Lists API](https://docs.sendgrid.com/api-reference/lists/) and [Segments API](https://docs.sendgrid.com/api-reference/segmenting-contacts-v2/).  You can also manage your marketing contacts with the [Marketing Campaigns application user interface](https://mc.sendgrid.com/contacts). See [**How to Send Email with New Marketing Campaigns**](https://docs.sendgrid.com/ui/sending-email/how-to-send-email-with-marketing-campaigns) for more information.
 
  NOTE: This class is auto generated by OpenAPI Generator.
  https://openapi-generator.tech
  Do not edit the class manually.
"""

import json
from typing import Optional
from sendgrid.exceptions import ApiException
from sendgrid.http.request import Request
from sendgrid.http.response import ApiResponse

from typing import Optional
from sendgrid.rest.api.mc_contacts.v3.models.get_contact_by_identifiers_request import (
    GetContactByIdentifiersRequest,
)
from sendgrid.rest.api.mc_contacts.v3.models.identifier_type1 import IdentifierType1


class GetContactByIdentifiers:
    def __init__(self, client) -> None:
        self.client = client

    def send(
        self,
        identifier_type: IdentifierType1,
        get_contact_by_identifiers_request: Optional[
            GetContactByIdentifiersRequest
        ] = None,
    ):
        path = "/v3/marketing/contacts/search/identifiers/{identifier_type}"
        path = path.format(
            identifier_type=identifier_type,
        )

        data = None
        if get_contact_by_identifiers_request:
            data = get_contact_by_identifiers_request.to_dict()
        request = Request(method="POST", url=path, data=data, headers=headers)
        response = self.client.send(request)
        if response is None:
            raise ApiException(
                error="CreateAlert creation failed: Unable to connect to server"
            )

        if response.text:
            text = json.loads(response.text)
        else:
            text = ""
        if response.is_success():
            return ApiResponse(
                status_code=response.status_code, model=text, headers=response.headers
            )
        else:
            raise ApiException(
                status_code=response.status_code, error=text, headers=response.headers
            )
