"""
  This code was generated by
 
  SENDGRID-OAI-GENERATOR
 
  Twilio SendGrid API Keys API
  The Twilio SendGrid API Keys API allows you manage your API keys and their settings. Your application, mail client, or website can all use API keys to authenticate access to SendGrid services.  To create your initial SendGrid API Key, you should use the [SendGrid application user interface](https://app.sendgrid.com/settings/api_keys). Once you have created a first key with scopes to manage additional API keys, you can use this API for all other key management.
 
  NOTE: This class is auto generated by OpenAPI Generator.
  https://openapi-generator.tech
  Do not edit the class manually.
"""

import json
from typing import Optional
from sendgrid.base import values
from sendgrid.exceptions import ApiException
from sendgrid.http.request import Request
from sendgrid.http.response import ApiResponse

from typing import Optional
from sendgrid.rest.api.api_keys.v3.models.update_api_key_request import (
    UpdateApiKeyRequest,
)


class UpdateApiKey:
    def __init__(self, client) -> None:
        self.client = client

    def send(
        self,
        api_key_id: str,
        on_behalf_of: Optional[str] = None,
        update_api_key_request: Optional[UpdateApiKeyRequest] = None,
    ):
        path = "/v3/api_keys/{api_key_id}"
        path = path.format(
            api_key_id=api_key_id,
        )

        headers = values.of(
            {
                "on-behalf-of": on_behalf_of,
            }
        )
        headers["Content-Type"] = "application/json"
        data = None
        if update_api_key_request:
            data = update_api_key_request.to_dict()
        request = Request(method="PUT", url=path, data=data, headers=headers)
        response = self.client.send(request)
        if response is None:
            raise ApiException(
                error="CreateAlert creation failed: Unable to connect to server"
            )

        if response.text:
            text = json.loads(response.text)
        else:
            text = ""
        if response.is_success():
            return ApiResponse(
                status_code=response.status_code, model=text, headers=response.headers
            )
        else:
            raise ApiException(
                status_code=response.status_code, error=text, headers=response.headers
            )
